<p id="notice"><%= notice %></p>
<section class="container text-center">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content.html_safe %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</section>
<div style="margin-top:150px">
<%= render 'disqus' %>
</div>